p Bem-vindo(a) ao Nosso Serviço, #{name}!

p Olá #{name}, obrigado por se cadastrar.

p Seu código OTP é: #{otp}

p Para ativar sua conta, clique no link abaixo:
p #{url}/ativar/#{otp}

p Ou acesse #{url}/ativar e digite o código #{otp}

p Caso você não tenha solicitado esta conta, ignore este e-mail.

p -- 
p © 2024 Nosso Serviço. Todos os direitos reservados.